{% extends "base.html" %}
{% block content %}

<section style="background-color: #eee;">
  <div class="row m-2 py-2">
   {% include "profile-sidebar.html" %}
    <div  class="col mx-3 bg-white shadow py-3" style="border-radius:5px;">
        <div class="card mb-3">
          <div class="row g-0"  style="background-color:#363062">
           
            <div class="col-md-8 align-self-center">
              <div class="card-body ">
                <h1 class="card-title text-white ">{{data.name}}</h1>
                <p class="card-title text-white ">Offer By -{{data.university}}</p>
                <p class="card-title text-white ">{{data.duration}} | {{data.degree_level}} | Fees (Foreign Students) : &#163; {{data.fees}} | Fees (Home Students) : &#163; {{data.Local_fees}} </p>
             
              </div>
            </div>
          </div>
        </div>
        <div style="background-color:#818FB4; border-radius:5px;" class="p-3 mb-3 shadow">
          <p class="text-white text-uppercase" >Inatkes Available</p>
            {% for intake in data.intakes.all %}
            <button class="btn btn-light"><strong>{{ intake.name }}</strong> - {{intake.start_from}} to {{intake.end_at}}  </button>
            {% endfor %}
        </div>
        <div style=" border-radius:5px;" class="p-5 mb-3 shadow">
            <p class=" fs-3 text-uppercase" >Course Details</p>
            <hr>
            <p >{{data.details | safe }}</p>
          </div>
      
    </div>
  </div>
</section>

{% endblock content %}