{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid p-0" style="background-color:#FFF;">
  <div class="row p-5">

    <div class="col-md-6 col-sm-12 text-center ">
      <img src="{% static "images/slide-2.jpg" %}" class="img-fluid card2" alt="Sample Image">
    </div>

    <div class="col-md-6 col-sm-12 px-3 align-self-center">
      <h2 class="pb-3">OUR STORY</h2>
      <p>
        Admission Network Ltd functions under our parent company First Kare Academy Ltd and First Kare Ltd. First Kare Academy and First Kare Ltd were both incorporated in the year 2014 where we are a ROTO, RoATP, and Matrix accredited training center. We are offering Government-funded and Private-funded courses ranging from Care Certificate courses, Level-2 and Level-3 Business, Health and Social Care, Child Care, and Hospitality Management. First Kare Academy also offers Functional Skills Maths and English Entry level 1 to Entry level 3 and Level 1 & 2.
      </p>
      <p>
        First Kare Ltd is a recruitment company focusing on the Health and Social Care sector. Since 2014, over 5000 learners have successfully completed courses, with 70% gaining admission to UK Colleges and Universities. The academy recruits over 100 learners monthly and maintains strong connections with the local community, employers, and recruiters. The long-term goal involves expanding Admission Network to represent over 100 countries, facilitating easy access to admission processes and academic progression, aligning with a 5-year plan for global development.
      </p>
    </div>

  </div>
</div>

<div class="container-fluid p-0" style="background-color:#F8F0E5;">
  <div class="row p-3 p-md-5">

    <div class="col-md-6 px-md-5 align-self-center text-center">
      <h2 class="pb-3">HOW WE WORK</h2>
      <p>
        Our students have the opportunity to choose and apply to a higher education course from a range of universities and colleges that match their educational background, experience & interests. Our partner schools, colleges, and universities will gain a diversified campus by bringing in quality students from around the world.
      </p>
      <p>
        Our recruitment partners are encouraged to give your students a chance to successfully access and pursue their education in a range of prestigious educational institutions around the world.
      </p>
      <p>
        Our global team of experts provides students with support at every step, including guidance for their applications, ensuring all necessary documents are submitted, communicating with the universities and colleges, assisting with the visa process for a successful application process to begin their journey in higher education.
      </p>
    </div>

    <div class="col-md-6 text-center mt-4 mt-md-0">
      <img src="{% static "images/slide-2.jpg" %}" class="img-fluid card2" alt="Sample Image">
    </div>

  </div>
</div>

<div class="container-fluid p-0 p-md-5" style="background-color:#FFF;">
  <div class="row  p-md-5">

    <div class="col-md-12 px-md-5 align-self-center text-center">
      <h2 class="pb-3">OUR FREE SERVICES</h2>
      <p>
        The Admission Network Platform leads you to enhance the diversity of your campus by linking you with highly motivated quality students from around the world.
      </p>
      <p>We encourage, advise, and give our students the opportunity to access higher education in a range of prestigious Universities and Colleges around the world to give them a better prospect for their future endeavors</p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 px-md-5">
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Help to Find the University</h5>
            <hr>
            <p class="card-text text-muted">At the beginning of the application process, we will help and guide you to find the right course and the University/College according to your interest.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title">Assit to get Scholarships</h5>
            <hr>
            <p class="card-text">Our partner Universities/College have the option for Scholarship applications who wish to apply for an international scholarship and our member of the team will guide our students how to do a scholarship application. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title">Help to Select Right Course</h5>
            <hr>
            <p class="card-text">Help you to research and select your desired course and the course level with the selected University/college. Ex: International Foundation Programme, Pathway courses, International Diploma, Undergraduate, Post Graduate and research programme. </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title">One to One Counselling</h5>
            <hr>
            <p class="card-text">We advise you to book an appointment to have a free one to one counselling to start your admission process. Please book an appointment to have a free one to one counselling for your admission. Please link book an appointment to Admission Network inquiry form.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title">Advise on Visa Processing</h5>
            <hr>
            <p class="card-text">We have our specialized partnered immigration advisors to help you through the process of the visa application.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow card2">
          <div class="card-body">
            <h5 class="card-title">Support to get Your Goal</h5>
            <hr>
            <p class="card-text">Thoughtful and considerate about each other We advise you to book an appointment to have a free one to one counselling to start your admission process. Please book an appointment to have a free one to one counselling for your admission. </p>
          </div>
        </div>
      </div>
    

  </div>
</div>



{% endblock content %}


