{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}


<div class="container-fluid p-0">

    <div class="background-image ">
      <!-- Content you want to display on top of the background image goes here -->
      <h1>Contact Us </h1> <br>
      <h3><a href="#" class="link-style"><strong>Book Appointment</strong></a></h3>
    </div>


    {% if messages %}
    <div class="container">
      <div class="row justify-content-center m-5">
        <div class="alert alert-success p-5 text-center" role="alert">
          <h2>Thank You!</h2>
          <p>We've received your message. One of our executives will contact you shortly.</p>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container mx-auto mt-5">
      <div class="card mb-5 shadow mx-auto">
        <div class="row gx-3">
          <div class="col-md-5 col-12 d-flex align-items-center">
            <img src="{% static "images/UK_FLAG.png" %}" alt="" class="img-fluid align-item-center">
          </div>
          <div class="col-md-7 col-12">
            <div class="card-body">
              <h5 class="card-title"><strong>Head Office (UK)</strong></h5>
              <p class="card-text">UNIT-605, 252-262 Romford Road, Forest Gate, London, E7 9HZ</p>
              <p class="card-text"><small class="text-muted">Mail Us: <a href="mailto:enquiries@admissionnetwork.net" target="_blank" class="btn btn-primary btn-sm">enquiries@admissionnetwork.net</a></small></p>
              <p class="card-text"><small class="text-muted">Mail Us: <a href="mailto:uk@admissionnetwork.net" target="_blank" class="btn btn-primary btn-sm">uk@admissionnetwork.net</a></small></p>
              <span class="">Call Us @ 07961434456 / 07949779012</span>
              <span class="">| Lanline: 0203 00 23 555</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container mx-auto mt-5">
      <h2 class="text-center p-5"><strong>Available Route</strong></h2>
      <div class="row g-2 mb-2">
        <div class="col-sm-6">
          <div class="card p-3 h-100 card2">
            <div class="card-body">
              <h5 class="card-title">Driving</h5>
              <p class="card-text">Trade Skills Development has its own designated private car park area, so you can just drive down with ease. You can get here in less than 10 minutes from Westfield Stratford Mall.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 h-100 card2">
            <div class="card-body">
              <h5 class="card-title">Bus</h5>
              <p class="card-text">Bus 25/425/86 stops right in front of our Centre at Sprowston Road Bus Stop and Margery Park Road Bus Stop.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 h-100 card2">
            <div class="card-body">
              <h5 class="card-title">Train</h5>
              <p class="card-text">1. Closest train station is Forest Gate, which has lines forElizabeth line From there it takes less than 5 minutes to walk to Trade Skills Development.</p>
                <p class="card-text">2. Stratford Station which has lines for Central and Jubilee lines, As well as the DLR (Docklands Light Railway), London Overground and TfL Rail. From there it takes 15 minutes to walk to Trade Skills Development.</p>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card p-3 h-100 card2">
            <div class="card-body">
              <h5 class="card-title">Cycle</h5>
              <p class="card-text">You could very easily come here and lock up your cycle in the fenced off area of our premises. All you need is your lock!</p>
            </div>
          </div>
        </div>
        <!-- ... (similar adjustments for the other cards) ... -->
      </div>
    </div>
  
    <div class="container-fluid mx-auto p-5" style="background-color: #F5E8C7;">
      <h2 class="text-center p-5"><strong>Get in Touch</strong></h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="h-100">
            <div class="card-body">
              <h3 class="card-title">Message Us</h3>
              <p class="card-text">To enroll in our verified training courses or inquire about any specific program, please contact us today. Our friendly staff will be happy to assist you, providing all the information you need to start your journey and don’t miss out on this opportunity – get in touch with us now and avail Combo Offers!</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card h-100 shadow">
            <div class="card-body">
              <form class="row g-3" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-5">
      <h2 class="text-center p-5 "> Find us on Map </h2>
      <div class="container-fluid text-center "> 
  
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2481.211645105179!2d0.023171!3d51.546018!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a797fc900001%3A0x17c4b156957e9aab!2sHouse%20252%2C%20262%20Romford%20Rd%2C%20London%20E7%209HZ%2C%20UK!5e0!3m2!1sen!2sus!4v1700056975094!5m2!1sen!2sus"  width="100%" height="350" frameborder="0" scrolling="no" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
        
      </div>
  
    </div>

    {% endif %}
</div>
    
{% endblock content %}


