{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container-fluid p-0">
  <div class="row p-5" >
    <div class="text-center">
        <h2><strong>General Terms & Conditions</strong></h2>
    </div>
    <div class="p-5" >
        <p><i class="bi bi-1-circle"></i>  Admission Network is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you.</p>
        <p><i class="bi bi-2-circle"></i>  You can unsubscribe from these communications at any time. For more information on how to unsubscribe, our privacy practices, and how we are committed to protecting and respecting your privacy, please review our Privacy Policy. <br> <br> By signing up, you consent to allow Admission Network to store and process the personal information submitted above to provide you the content requested.</p>
    </div>
  </div>
  {% endblock content %}