{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div class="background-image text-center">
        <!-- Content you want to display on top of the background image goes here -->
        <h1>Why Study in the United Kingdom </h1> <br>
        <h3><a href="#" class="link-style"><strong>Book Appointment</strong></a> for 100% Free Consultancy </h3>
    </div>
    <div class="container-fluid p-0" style="background-color:#EBE3D5;">
        <div class="container">
            <p class="fs-4 py-5 text-center">Choosing the United Kingdom (UK) for study can be influenced by various factors, and the decision often depends on individual preferences, goals, and circumstances. Here are some reasons why students may choose the UK for their studies:</p>
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <img src="{% static "images/slide-2.jpg" %}" class="img-fluid card2" alt="Sample Image">
                    <p class="py-3">It's important for students to carefully consider their academic and personal goals, budget, and lifestyle preferences when choosing a study destination. Conducting thorough research and seeking advice from academic counselors can help make an informed decision based on individual needs and aspirations.</p>
                </div>
                <div class="col-12 col-md-8 px-4">
                    <div>
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>World-Class Universities</h4>
                        <p>The UK is home to some of the world's most prestigious and renowned universities, such as Oxford, Cambridge, Imperial College London, and others. These institutions offer high-quality education and are recognized globally.</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Diverse Range of Courses</h4>
                        <p>UK universities provide a wide variety of academic programs and courses, allowing students to choose from a diverse range of subjects and specialties.</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Language of Instruction</h4>
                        <p>English is the primary language of instruction in UK universities. For international students looking to improve their English language skills or pursue education in English, the UK is an ideal destination</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Work Opportunities</h4>
                        <p>The UK allows international students to work part-time during their studies and full-time during scheduled breaks. After graduation, there are various visa options for those wishing to work or pursue further studies.</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Cultural Diversity</h4>
                        <p>The UK is a culturally diverse country, with a rich history and a multicultural society. Studying in the UK provides exposure to different cultures, ideas, and perspectives.</p>
                    </div>
                    <div>
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>International Perspective</h4>
                        <p>The UK attracts students from around the world, creating a multicultural and international environment on campuses. This exposure fosters cross-cultural understanding and global perspectives.</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Research Opportunities</h4>
                        <p>The UK is at the forefront of research and innovation. Students often have access to cutting-edge research facilities and opportunities to engage in groundbreaking research projects.</p>
                    </div>
                    <div >
                        <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Quality of Life</h4>
                        <p>The UK offers a high quality of life, with excellent healthcare, public transportation, cultural attractions, and recreational activities. It is also a gateway to exploring Europe.</p>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


