{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div class="background-image ">
      <!-- Content you want to display on top of the background image goes here -->
      <h1> Why you choose <strong>Admissoin Network</strong></h1> <br>
      <h3><a href="#" class="link-style"><strong>Book Appointment</strong></a> for 100% Free Consultancy </h3>
    </div>
   <div class="container-fluid p-0" style="background-color:#ECF2FF;">
    <div class="container" >
        <p class="fs-4 py-5">The decision to choose a service for admission help is a personal one and can depend on various factors. However, Admission netwrok may emphasize certain features or benefits that may make you choose us. Here are the services for which you might choose us for admission help:</p>
        <div class="row align-item-center justify-content-center ">
         
            <div class="col-11 ">
                <div>
                    <h4> <i class="bi bi-1-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Expertise and Experience</h4>
                    <p> Admission Network have experienced professionals who are knowledgeable about the admission processes, requirements, and nuances of various educational institutions.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-2-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Personalized Guidance</h4>
                    <p>We offer personalized guidance based on your academic background, interests, and career goals, helping you choose the right programs and institutions.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-3-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Application Support</h4>
                    <p> We provide assistance with the application process, helping you complete forms, gather necessary documents, and submit applications on time.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-4-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Visa Assistance</h4>
                    <p>If you're an international student, admission services may assist with the visa application process, ensuring you meet all requirements for studying in a particular country.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-5-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Visa Assistance</h4>
                    <p>Most UK universities use an online application system, and you'll need to create an account on the university's admissions portal. Fill out the application form, providing accurate and complete information.</p>
                </div>
                <div>
                    <h4> <i class="bi bi-6-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Access to a Network</h4>
                    <p>We have established connections with universities, colleges, and educational institutions, potentially providing you with access to a broader range of options.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-7-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Reduced Stress</h4>
                    <p>Navigating the admissions process can be overwhelming. Our assistance service may help reduce stress by managing various aspects of the application process.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-8-circle" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Current Information</h4>
                    <p>We are updated on changes in admission requirements, policies, and deadlines, ensuring that we have the most accurate and current information.</p>
                </div> 
               
                            
            </div>
        </div>
       </div>
   </div>

</div>



{% endblock content %}


