{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">
    <div class="background-image ">
      <!-- Content you want to display on top of the background image goes here -->
      <h1>Why Study in United States of America</h1> <br>
      <h3><a href="#" class="link-style"><strong>Book Appointment</strong></a> for 100% Free Consultancy </h3>
    </div>
   <div class="container-fluid p-0" style="background-color:#EBE3D5;">
    <div class="container" >
        <p class="fs-4 py-5">There are several reasons why individuals choose to study in the United States::</p>
        <div class="row">
            <div class="col-4">
                <img src="{% static "images/slide-2.jpg" %}" class="img-fluid card2" alt="Sample Image">
                <p class="py-5">It's important for students to carefully consider their academic and personal goals, budget, and lifestyle preferences when choosing a study destination. Conducting thorough research and seeking advice from academic counselors can help make an informed decision based on individual needs and aspirations.</p>
            </div>
            <div class="col-8 px-4">
                <div>
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Academic Excellence</h4>
                    <p>The United States is home to many top-ranking universities and institutions known for their academic excellence and cutting-edge research. Students have access to a wide range of programs and courses, and degrees earned in the U.S. are recognized globally.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Diverse Culture and Society</h4>
                    <p>Studying in the U.S. provides an opportunity to experience and be part of a diverse and multicultural society. Students can interact with people from different backgrounds, cultures, and perspectives, contributing to a rich and dynamic learning environment.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Research Opportunities</h4>
                    <p>The U.S. is a leader in various fields of research and innovation. Students often have the chance to work on groundbreaking research projects, collaborate with leading experts, and access state-of-the-art facilities and resources.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Flexible Education System</h4>
                    <p>The U.S. education system offers flexibility in choosing courses, majors, and designing a curriculum that aligns with individual interests and career goals. This flexibility allows students to explore different fields before committing to a specific major.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Global Networking Opportunities</h4>
                    <p>Studying in the U.S. provides opportunities to build a global network of contacts and connections. Many universities have strong alumni networks that can be beneficial for future career prospects.</p>
                </div>
                <div>
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>English Language Proficiency</h4>
                    <p>For non-native English speakers, studying in the U.S. offers a chance to improve English language skills significantly. This can be advantageous in a global job market where English is often the primary language of business and communication.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Internship and Employment Opportunities</h4>
                    <p>The U.S. is home to many leading companies and industries. Students often have access to internship and job opportunities that can enhance their practical skills and contribute to their professional development.</p>
                </div>
                <div >
                    <h4> <i class="bi bi-check-square" style="font-size: 2rem; color: #071952; padding-right:10px;"></i>Quality of Life</h4>
                    <p>The U.S. offers a high standard of living, with various amenities, cultural attractions, and recreational opportunities. Different regions of the country provide diverse landscapes and lifestyles, catering to a wide range of preferences.</p>
                </div>               
            </div>
        </div>
        

      
    </div>
   </div>

</div>



{% endblock content %}


