{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
{% load static %}



<section style="background-color: #eee;">
  <div class="row g-2 ">
   <div class="col-2 bg-white p-2 shadow ">
    {% include "profile-sidebar.html" %}
   </div>
   <div class="col-10 bg-white p-2">
    <div class="card mb-3">
      <div class="row g-0"  style="background-color:#363062; border-radius:10px;">
        <div class="col align-self-center">
          <div class="card-body ">
            <h1 class="card-title text-white text-center ">Create University</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <form method="post" class="form col-9" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form uni_form %}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

   </div>


  </div>
</section>


<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock content %}