
  /* Customize additional styles here */
.carousel-caption {
    background-color: rgba(1, 1, 1, 0.266); /* 0.7 is the transparency value, adjust as needed */
    padding: 20px; /* Adjust the padding as needed */
    color: white; /* Set text color to white or another suitable color for visibility */
}

.card2 {  
    transition: transform 0.5s;
}

.card2:hover{

  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.link-style {
  text-decoration: none;
  color: rgb(30, 30, 30);
}

.link-style:hover {
  color: #d6c9a6;
}

.background-image {
  position: relative;
  background-color: #363062;
  background-size: cover;
  background-position: center center;
  height: 300px;
  color: #fff; /* Set the text color to contrast with the background image */
  text-align: center;
  padding: 0;
  z-index: 1; /* Ensure the content is above the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  z-index: -1;
}

.card-img-top1 {
  width: 30%;
  display: block;
  margin: auto;
}

.rounded-button {
  display: inline-block;
  padding: 10px 30px; /* Adjust padding as needed */
  border-radius: 25px; /* Set border-radius to create rounded corners */
  text-decoration: none; /* Remove underlines if used in an anchor tag */
  background-color: #ffffff; /* Set background color */
  color: #0a0a0a; /* Set text color */
  font-size: 20px; /* Set font size */
  border: none; /* Remove border */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin: 0px   10px;
  transition: background-color 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-button:hover {
  background-color: rgb(0, 0, 0); /* Change background color on hover */
  color: #ffffff;
 
}

/* Media query for mobile responsiveness */
@media (max-width: 767px) {
  .background-image {
      height: 200px; /* Adjust the height for smaller screens */
  }
  .rounded-button{
    font-size: 15px;
  }

  
}
