
  /* Customize additional styles here */
  .carousel-item {
    height: auto; /* Adjust the height as needed */
  }
  .carousel-inner {
    overflow: hidden;
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  .drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }

  .carousel-caption {
    z-index: 2;
  }


.card2 {
    transition: transform 0.5s;
}

.card2:hover{

  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.link-style {
  text-decoration: none;
  color: white;
}

.link-style:hover {
  color: #d6c9a6;
}


.background-image {
  position: relative;
  background-color: #363062;
  background-size: cover;
  background-position: center center;
  height: 300px;
  color: #fff; /* Set the text color to contrast with the background image */
  text-align: center;
  padding: 0;
  z-index: 1; /* Ensure the content is above the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
  z-index: -1;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .background-image {
      height: 200px; /* Adjust the height for smaller screens */
  }
  
}
